{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles | Kevin Griffin | Developer, Trainer, Entreprenuer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    {{> header}}

    <div class="container">
        <ul>
            {{#each site.posts.data as |post|}}
            <li>
                <a href="{{url_for post.path}}">{{post.title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{> footer}}
</body>

</html>--}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kevin Griffin | Developer, Trainer, Entreprenuer</title>

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

{{> styles}}

</head>

<body class="no-trans front-page page-loader-4">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">

        {{> header}}

        <!-- main-container start -->
        <!-- ================ -->
        <section class="main-container">

            <div class="container">
                <div class="row">

                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main col-md-8">

                        <!-- page-title start -->
                        <!-- ================ -->
                        <h1 class="page-title">Articles</h1>
                        <div class="separator-2"></div>
                        <!-- page-title end -->

                        {{#each (sortByKey site.categories.data 'name') as |cat|}}
                        <article class="blogpost">
                            <header>
                                <h2>{{cat.name}}</h2>
                            </header>
                            <ul>
                                {{#each (filterCategories @root.site.posts.data cat.name) as |post|}}
                                    <li><a href="{{url_for post.path}}">{{post.title}}</a></li>
                                {{/each}}
                            </ul>
                        </article>
                        {{/each}} {{!--{{#each site.posts.data as |post|}}
                        <article class="blogpost">
                            <header>
                                <h2><a href="{{url_for post.path}}">{{post.title}}</a></h2>
                            </header>
                        </article>
                        {{/each}}--}}


                    </div>
                    <!-- main end -->

                    {{> sidebar}}

                </div>
            </div>
        </section>
        <!-- main-container end -->

        <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
        <!-- ================ -->
        <footer id="footer" class="clearfix ">

            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2017 Kevin Griffin All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->

{{> scripts}}
</body>

</html>