<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Articles | Kevin Griffin | Developer, Trainer, Entrepreneur</title>

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Articles | Kevin Griffin | Developer, Trainer, Entrepreneur" />
    <meta property="og:url" content="{{page_url url}}" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Articles | Kevin Griffin | Developer, Trainer, Entrepreneur" />
    <meta name="twitter:description" content="This is a collection of all the articles published on KevGriffin.com" />
    <meta name="twitter:url" content="{{page_url url}}" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"> {{> styles}}

</head>

<body class="no-trans front-page">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">

        {{> header}}

        <!-- main-container start -->
        <!-- ================ -->
        <section class="main-container">

            <div class="container">
                <div class="row">

                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main col-md-8">

                        <!-- page-title start -->
                        <!-- ================ -->
                        <h1 class="page-title">Articles</h1>
                        <div class="separator-2"></div>
                        <!-- page-title end -->

                        {{#each (sortByKey site.categories.data 'name') as |cat|}}
                        <article class="blogpost">
                            <header>
                                <h2>{{cat.name}}</h2>
                            </header>
                            <ul>
                                {{#each (filterCategories @root.site.posts.data cat.name) as |post|}}
                                <li><a href="{{url_for post.path}}">{{post.title}}</a></li>
                                {{/each}}
                            </ul>
                        </article>
                        {{/each}} {{!--{{#each site.posts.data as |post|}}
                        <article class="blogpost">
                            <header>
                                <h2><a href="{{url_for post.path}}">{{post.title}}</a></h2>
                            </header>
                        </article>
                        {{/each}}--}}


                    </div>
                    <!-- main end -->

                    {{> sidebar}}

                </div>
            </div>
        </section>
        <!-- main-container end -->

        <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
        <!-- ================ -->
        <footer id="footer" class="clearfix ">

            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2017 Kevin Griffin All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->

    {{> scripts}}
</body>

</html>