<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{page.title}} | Kevin Griffin | Developer, Trainer, Entrepreneur</title>

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{page.title}} | Kevin Griffin | Developer, Trainer, Entrepreneur" />
    <meta property="og:url" content="{{page_url url}}" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{page.title}} | Kevin Griffin | Developer, Trainer, Entrepreneur" />
    <meta name="twitter:description" content="{{page.excerpt}}" />
    <meta name="twitter:url" content="{{page_url url}}" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"> {{> styles}}
</head>

<body class="no-trans front-page">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">

        {{> header}}

        <!-- main-container start -->
        <!-- ================ -->
        <section class="main-container">

            <div class="container">
                <div class="row">
                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main col-md-8">

                        <!-- page-title start -->
                        <!-- ================ -->
                        <h1 class="page-title">{{page.title}}</h1>
                        <div class="separator-2"></div>
                        <!-- page-title end -->

                        <article class="blogpost full">
                            <div class="blogpost-content">
                                {{{page.content}}}
                            </div>
                            <em>Originally published on {{date page.date}} in {{showCategory page.categories}}</em>
                        </article>

                        <div id="comments" class="comments">
                            <div id="disqus_thread"></div>
                            <script>
                                /**
                                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                /*
                                var disqus_config = function () {
                                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };
                                */
                                (function () { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://kevgriff.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                        </div>
                    </div>
                    <!-- main end -->

                    {{> sidebar}}

                </div>
            </div>
        </section>
        <!-- main-container end -->

        <section class="section default-bg pv-40 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-action text-center">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h2 class="title">Enjoy this article? Let's keep in touch</h2>
                                    <p>I really appreciate you taking the time out of your schedule to read this post. I like
                                        to keep my friends updated on new articles and also spawn discussions here and there.</p>
                                    <p>If you'd like to keep in touch, please subscribe below. And I promise, no more than 1
                                        email per week (if even that).</p>
                                    <div class="separator"></div>
                                    <form class="form-inline margin-clear" method="POST" action="https://kevingriffin.activehosted.com/proc.php"
                                        novalidate>
                                        <input type="hidden" name="u" value="1025" />
                                        <input type="hidden" name="f" value="1025" />
                                        <input type="hidden" name="s" />
                                        <input type="hidden" name="c" value="0" />
                                        <input type="hidden" name="m" value="0" />
                                        <input type="hidden" name="act" value="sub" />
                                        <input type="hidden" name="v" value="2" />
                                        <div class="form-group has-feedback">
                                            <label class="sr-only" for="subscribe">Full Name</label>
                                            <input type="email" class="form-control" id="subscribename" placeholder="Full name" name="fullname" required="">
                                            <i class="fa fa-envelope form-control-feedback"></i>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="sr-only" for="subscribe">Email address</label>
                                            <input type="email" class="form-control" id="subscribeemail" placeholder="Enter email" name="email" required="">
                                            <i class="fa fa-envelope form-control-feedback"></i>
                                        </div>
                                        <button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Submit <i class="fa fa-send"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
        <!-- ================ -->
        <footer id="footer" class="clearfix ">

            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2017 Kevin Griffin All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->

    {{> scripts}}
</body>

</html>